.logo {
    width: 200px; 
    height: 200px;
}

header {
    background-color: blanchedalmond;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
main {
    background-color: blueviolet;
}

nav {
    background-color: rgb(5, 185, 137);
    position: relative;
}

footer {
    background-color: rgb(174, 174, 161);
}
